@using Mastex_BuleteVlad.ViewModels
@using Mastex_BuleteVlad.BLL.DTO
@model TaskHomeViewModel

<div class="container">
    <h2>Tasks <a class="btn btn-outline-success" style="margin-left:10px" asp-area="" asp-controller="Task" asp-action="Create"><i class="fas fa-plus-square"></i></a></h2>
</div>
<br />
<div class="row">
    <h5 class="col col-md-2">Filter by Project:</h5>
    <div class="col col-md-2 text-center taskFilter text-primary" style="margin-right:10px; border-style:solid; border-color:dodgerblue; border-radius:10px; cursor:pointer;" data-id="0">Remove filters</div>

    @foreach (var item in Model.ProjectFilters)
    {
        <div class="col col-md-2 text-center taskFilter" style="margin-right:10px; border-style:solid; border-color:dimgrey; border-radius:10px; cursor:pointer;" data-id="@item.Id">@item.Title</div>
    }
</div>
<br />
<div class="container" id="partialTaskList">
    <partial name="_TaskList" model="@Model.Tasks" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".taskFilter").on("click", function () {
            var projId = $(this).data("id");
            $("#partialTaskList").html("");
            var model = { projectId : projId };

            // AJAX CALL
            $.ajax({
                type: "POST",
                url: "@Url.Action("List","Task")",
                dataType: "html",
                data: model,
                 contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    $("#partialTaskList").html(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });

        });
    });

</script>